@each $name, $breakpoint in $breakpoints {
    @include mq($breakpoint) {
        .#{$name}flex {
            display: flex;
            flex-wrap: wrap;

            &--gutter {
                margin: {
                    right: -1rem;
                    left: -1rem;
                }
            }
        }

        .flex-#{$name}1 {
            flex: 1;
        }

        .flex-#{$name}reverse {
            flex-direction: row-reverse;
        }

        .flex-#{$name}col {
            flex-direction: column;
        }

        .flex-#{$name}no-wrap {
            flex-wrap: nowrap;
        }

        .justify-#{$name}center {
            justify-content: center;
        }

        .items-#{$name}center {
            align-items: center;
        }

        .order-#{$name}1 {
            order: 1;
        }

        @if $breakpoint != 0 {
            [class*="col-#{$name}"] {
                padding: {
                    right: 1rem;
                    left: 1rem;
                }
            }

            @for $i from 1 to 7 {
                .col-#{$name}#{$i} {
                    width: 100% / $grid-columns * $i;
                }
            }
    
            /* Use in row with 5 columns */
            .col-#{$name}20 {
                width: 20%;
            }
    
            .col-#{$name}auto {
                width: auto;
            }   
        }
    }
}
