.relative {
    position: relative;
}

.hide-mobile {
    @include mq($lg, max) {
        display: none;
    }
}

.hide-desktop {
    @include mq($lg) {
        display: none;
    }
}

/* BACKGROUND COLOR */


/* SECTION */


/* IMAGE */