.relative {
    position: relative;
}

.hide-mobile {
    @include mq($lg, max) {
        display: none;
    }
}

.hide-desktop {
    @include mq($lg) {
        display: none;
    }
}

/* BACKGROUND COLOR */
.bg {
    &-pink {
        background-color: $color-pink;
    }
}


/* SECTION */


/* IMAGE */
.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}