.badge {
    @include font-size(12);
    padding: 2px 8px;
    border-radius: 36px;
    box-shadow: $box-shadow-button;
    text-transform: uppercase;

    &--primary {
        background-color: $bg-badge-primary;
        color: $color-text-light;
    }

    &--second {
        background-color: $color-badge-second;
        color: $color-text-main;
    }
}