.button {
    display: inline-block;
    padding: 12px 18px;
    box-shadow: $box-shadow-button;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: $transition-base;

    /* BUTTON SIZE */

    &--small {
        @include font-size(14, 1.42);
        padding: 8px 16px;
    }

    &--large {
        @include font-size(18, 1.56);
        padding: 13px 28px;
    }

    &--responsive-sm {
        @include mq($sm, max) {
            @include font-size(12);
            padding: 6px;
        }
    }

    /* BUTTON SHAPE */

    /* BUTTON TYPE */

    &--primary {
    }
}
