.action {
    &::before {
        content: '';
        @include position(absolute, null, 0, 0, 0);
        z-index: $z-index-below;
        height: 50%;
        background-color: $bg-light;
    }

    &__inner {
        border-radius: 6px;
    }

    &__information {
        max-width: 456px;
    }
}