.feature {
    &__img {
        @include img-ratio($ratio--1-1);

        &--rounded {
            border-radius: 24px;
        }
    }

    &__list {
        max-width: 456px;
    }

    &__icon {
        border-radius: 6px;
        padding: 13px 16px;
    }
}