.hero {
    &__inner {
        border-radius: 24px;
    }

    &__content {
        max-width: 810px;
    }

    &__paragraph {
        max-width: 716px;
    }

    &__form {
        max-width: 544px;
    }

    &__button {
        @include mq($md) {
            margin-top: 0;
        }
    }
}
