.partners {
    padding: {
        top: 4rem;
        bottom: 4rem;
    }

    @include mq($mq-desk) {
        padding: {
            top: 12rem;
            bottom: 12rem;
        }
    }

    &__inner {
        padding: {
            top: 1rem;
            bottom: 1rem;
        }
        border-top: 1.5px solid $color-grey;
        border-bottom: 1.5px solid $color-grey;

        @include mq($mq-desk) {
            padding: {
                top: 4rem;
                bottom: 4rem;
            }
        }
    }

    &__item {
        padding-top: 1.2rem;

        @include mq($mq-tab) {
            width: 25%;
            padding-top: 0;
        }
    }

    &__text {
        letter-spacing: -0.02rem;
        line-height: 1.4;

        @include mq($mq-desk) {
            @include font-size(22.65);
        }
    }
}