.work {
    &__video {
        &::before {
            content: "";
            @include position(absolute, 0, 0, 0, 0);
            background: url(../../image/video-bg.jpg) no-repeat;
            background-size: cover;
            border-radius: 40px;
        }
    }

    &__btn {
        @include position(absolute, 50%, 50%, null, null);
        transform: translate(50%, -50%);
        transition: $transition-base;

        &:hover {
            transform: translate(50%, -50%) scale(1.08);
        }
    }
}
