.container
{
    width: 100%;
    max-width: $grid-max-width + $grid-spacing-wide * 2;
    margin:
    {
        right: auto;
        left: auto;
    };
    padding:
    {
        right: $grid-spacing-wide;
        left: $grid-spacing-wide;
    }

    &--full
    {
        max-width: 100%;
        padding:
        {
            right: $grid-spacing-wide;
            left: $grid-spacing-wide;
        }
    }

    &--large {
        max-width: $grid-max-width-large + $grid-spacing-wide * 2;
    }
}