html {
    font-size: 62.5%;
}

body {
    @include font-size(14, 1.6);
    color: $color-base;
    font-family: $font-body;
    font-weight: $font-body-weight;

    @include mq($md) {
        @include font-size(16);
    }
}

a {
    color: $color-base;

    &:hover {
        color: $color-red-light;
    }
}

picture {
    display: block;
    font-size: 0;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

input {
    outline: inherit;
    font: inherit;
}