@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-title;
    font-family: $font-title;
    font-weight: $font-title-weight;
}

h1,
.h1 {
    @include font-size(40, 1.2);
    letter-spacing: -0.2px;

    @include mq($lg) {
        @include font-size(60);
    }
}

h2,
.h2 {
    @include font-size(28, 1.22);
    letter-spacing: -0.2px;

    @include mq($lg) {
        @include font-size(48);
    }
}

h3,
.h3 {
    @include font-size(20, 1.33);
    @include mq($lg) {
        @include font-size(36);
    }
}

h4,
.h4 {
    @include font-size(24);

    @include mq($lg) {
        @include font-size(24);
    }
}

.text {
    /* SIZE */

    &--sm {
    }

    &-md {
        @include font-size(20);
    }

    &-xl {
        @include font-size(36, 1.5);
        letter-spacing: -0.2px;

        @include mq($lg) {
            @include font-size(48);
        }
    }

    &-3xl {
        @include font-size(30, 1.26);
    }

    /* WEIGHT */
    &-500 {
        font-weight: 500;
    }

    &-600 {
        font-weight: 600;
    }

    &-700 {
        font-weight: 700;
    }

    /* COLORS */

    &-main-color {
        color: $color-text-main;
    }

    &-grey {
        color: $color-text-grey;
    }

    &-dark {
        color: $color-text-dark;
    }

    &-light {
        color: $color-text-light;
    }

    /* ALIGNMENT */

    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    /* TEXT STYLES */

    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }
}
