//========= GRID SYSTEM ============

$grid-columns: 12;
$grid-spacing-small: 1rem; // 20px / 2
$grid-spacing-wide: 1rem; // 20px / 2

$grid-max-width: 116rem;
$grid-max-width-large: 12.2rem;

//========= COLORS ============

$color-base: #000;

$color-title: #000;
$color-subtitle: #000;

$color-link: #8896ab;

$color-light: #fff;
$color-dark: #000;
$color-grey: #4d4d4d;
$color-red-light: #CD4631;
$color-pink: #f7ede8;
$color-blue: #81adc8;
$color-blue-light: #edf3f7;

$color-button-primary: #fff;
$color-button-second: #333f51;

$bg-button-primary: #000;
$bg-button-second: #ffffff;

$border-button: #000;

//========= FONTS ============

$font-body: 'Montserrat Alternates', sans-serif;
$font-title: $font-body;

$font-title-weight: 700;
$font-body-weight: 500;

//========= BREAKPOINTS ============

$sm: 48rem;
$md: 76.8rem;
$lg: 96rem;
$xl: 120rem;
$xxl: 144rem;

// breakpoints to render grid system
$breakpoints: (
    "": 0,
    "sm-": $sm,
    "md-": $md,
    "lg-": $lg,
);

/* Breakpoints will be added spacing classes */
$spacing-breakpoints: (
    "": 0,
    "md-": $md,
    "lg-": $lg,
);

//========= Z-INDEX ============

$z-index-fixed: 100;
$z-index-overlay: $z-index-fixed - 1;

$z-index-base: 0;
$z-index-above: $z-index-base + 1;
$z-index-below: $z-index-base - 1;

//========= IMAGE RATIO ============

$ratio--16-9: 16 / 9;
$ratio--4-3: 4 / 3;
$ratio--1-1: 1;

//========= BASE TRANSITION ============

$transition-base: 0.4s ease;

//========= BOX-SHADOW ============

$box-shadow-button: 3px 3px 0px rgba(0, 0, 0, 0.25);
$box-shadow-navbar: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$box-shadow-input: 0px 1px 2px rgba(0, 0, 0, 0.05);
