//========= GRID SYSTEM ============

$grid-columns: 12;
$grid-spacing-small: 1rem; // 20px / 2
$grid-spacing-wide: 1rem; // 20px / 2

$grid-max-width: 115rem; // 1150px
$grid-max-width-large: 126.2rem; // 1262px

/* ============ SPACING ============ */

$section-padding-bottom: 90px;
$section-padding-top: 90px;

$padding-bottom-base: 16px;
$padding-top-base: 16px;

//========= COLORS ============

$color-main: #22c55e;

$color-title: #2a3342;
$color-subtitle: #8896ab;

$color-link: #8896ab;

$color-text-light: #fff;
$color-text-dark: #556987;
$color-text-grey: #8896ab;
$color-text-gray: #CFC7BB;
$color-text-main: $color-main;

$color-button-primary: #f0fdf4;
$color-button-second: #333f51;

$color-badge-primary: #f0fdf4;
$color-badge-second: #dcfce7;

$color-input: #667085;

$bg-main: $color-main;
$bg-light: #f7f8f9;
$bg-dark: #2a3342;
$bg-white: #fff;

$bg-button-primary: $color-main;
$bg-button-second: #ffffff;

$bg-input: #fff;

$bg-badge-primary: $color-main;
$bg-badge-second: #dcfce7;

$border-button-primary: $color-main;
$border-button-second: #d5dae1;
$border-input: #d5dae1;

//========= FONTS ============

$font-body: "Poppins", sans-serif;
$font-title: $font-body;

$font-title-weight: 700;
$font-body-weight: 500;

//========= BREAKPOINTS ============

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1440px;

// breakpoints to render grid system
$breakpoints: (
    "": 0,
    "sm-": $sm,
    "md-": $md,
    "lg-": $lg,
    // "xl": $xl,
    // "xxl": $xxl,
);

/* Breakpoints will be added spacing classes */
$spacing-breakpoints: (
    "": 0,
    "md-": $md,
    "lg-": $lg,
);

//========= Z-INDEX ============

$z-index-fixed: 100;
$z-index-overlay: $z-index-fixed - 1;

$z-index-base: 0;
$z-index-above: $z-index-base + 1;
$z-index-below: $z-index-base - 1;

//========= IMAGE RATIO ============

$ratio--16-9: 16 / 9;
$ratio--4-3: 4 / 3;
$ratio--1-1: 1;

//========= BASE TRANSITION ============

$transition-base: 0.4s ease;

//========= BOX-SHADOW ============

$box-shadow-button: 0px 1px 2px rgba(105, 81, 255, 0.05);
$box-shadow-navbar: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$box-shadow-input: 0px 1px 2px rgba(0, 0, 0, 0.05);
