#overlay {
    @include position(fixed, 0, 0,0,0);
    z-index: $z-index-below;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: $transition-base;

    &.show {
        z-index: $z-index-overlay;
        opacity: 1;
        pointer-events: auto;
    }
}